.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.bigicon2 {
    font-size: 35px;
    color: transparent;
}

.form-group{
    display: flex;
    justify-content: center;
}

span{
    margin: 0 10px;
}

form{
    margin-top: 60px;
}